<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MySQLConnStr" connectionString="DRIVER={MySQL ODBC 3.51 Driver};Database=transport;Server=localhost;UID=smetoyer;PWD=password;"/>
  </connectionStrings>
  <appSettings>
    <add key="SMSNumber" value="5555555555@txt.att.net"/>
    <add key="ToEmailAddress" value="scott.metoyer@gmail.com"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="network">
        <network
          host="localhost"
          port="25"
          userName="me@xyzcom" password="abc123"
        />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>