<div class="block-bottom-c wrapper max-width100">            
    <section id="bottom-c" class="grid-block">
        <div class="grid-box width100 grid-h">
            <div class="module mod-box mod-box-transparent20 mod-box-transparent deepest" style="min-height: 220px;">
            	<div id="map" style="height: 220px; width: 100%; position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);">
            	</div>
            </div>
        </div>
    </section>            
</div>