<div class="block-bottom-a container">
    <section id="bottom-a" class="grid-block">
        <div class="row">
            <div class="grid-box grid-h col-md-3 no-padding">
                <div class="module mod-box mod-box-transparent10 mod-box-transparent deepest" style="min-height: 185px;">
                    <center>
                        <a href="/contact" data-spotlight="effect:bottom;" class="spotlight" style="position: relative; overflow: hidden;"> 
                            <img src="assets/images/Contact-us.fw.png" alt="Contact-us.fw">
                            <div class="overlay" style="position: absolute; visibility: hidden; display: block;">
                                <div>Click to fill out our contact form</div>
                            </div>
                        </a>
                    </center>       
                </div>
            </div>
            <div class="grid-box grid-h col-md-3 no-padding">
                <div class="module mod-box mod-box-transparent10 mod-box-transparent  deepest" style="min-height: 185px;">
                    <center>
                        <a href="http://transportreviews.com/company/Safe Line-auto-transport-llc.asp" data-spotlight="effect:bottom;" class="spotlight" style="position: relative; overflow: hidden;">
                            <img src="assets/images/Five_Star_Rated.fw.png" alt="5-star rated Safe Line Auto Transport">
                            <div class="overlay" style="position: absolute; visibility: hidden; display: block;">
                                <div>See what our customers are saying!</div>
                            </div>
                        </a>
                    </center>       
                </div>
            </div>
            <div class="grid-box grid-h col-md-3 no-padding">
                <div class="module mod-box mod-box-transparent10 mod-box-transparent  deepest" style="min-height: 185px;">
                    <center>
                        <a href="/quick-quote" data-spotlight="effect:bottom;" class="spotlight" style="position: relative; overflow: hidden;">
                            <img src="assets/images/Get_A_Quote.fw.png" alt="Get A Quote from Safe Line Auto Transport">
                            <div class="overlay" style="position: absolute; visibility: hidden; display: block;">
                                <div>Get a quote from our specialists</div>
                            </div>
                        </a>
                    </center>       
                </div>
            </div>
            <div class="grid-box grid-h col-md-3 no-padding">
                <div class="module mod-box mod-box-transparent10 mod-box-transparent  deepest" style="min-height: 185px;">
                    <center>
                        <a href="/services" data-spotlight="effect:bottom;" class="spotlight" style="position: relative; overflow: hidden;">
                            <img src="assets/images/Our_Services.fw.png" alt="Our Services at Safe Line Auto Transport">
                            <div class="overlay" style="position: absolute; visibility: hidden; display: block;">
                                <div>Here are the services we offer</div>
                            </div>
                        </a>
                    </center>       
                </div>
            </div>
        </div>
    </section>
</div>