<div class="block-top-b">
    <section class="grid-block">
        <div class="grid-box width100 grid-h">
            <div class="module mod-box mod-box-transparent10 mod-box-transparent  deepest">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <center>
                                <table style="height: 50px; width: 960px;">
                                    <tbody>
                                        <tr>
                                            <td><center><img src="assets/images/partner_logos/credit-card-logos.fw.png" alt="credit-card-logos.fw"></center></td>
                                            <td><center><img src="assets/images/partner_logos/white-line.fw.png" alt="white-line.fw"></center></td>
                                            <td><center><img src="assets/images/partner_logos/Trusted_Mover2.fw.png" alt="Trusted Mover2.fw"></center></td>
                                            <td><center><img src="assets/images/partner_logos/white-line.fw.png" alt="white-line.fw"></center></td>
                                            <td><center><img src="assets/images/partner_logos/EBay_motors_logo.png" alt="EBay motors logo"></center></td>
                                            <td><center><img src="assets/images/partner_logos/white-line.fw.png" alt="white-line.fw"></center></td>
                                            <td><center><img src="assets/images/partner_logos/bbb_logo.fw.png" alt="bbb logo.fw"></center></td>
                                            <td><center><img src="assets/images/partner_logos/white-line.fw.png" alt="white-line.fw"></center></td>
                                            <td><center><img src="assets/images/partner_logos/logo-copart.png" alt="logo-copart"></center></td>
                                            <td><center><img src="assets/images/partner_logos/white-line.fw.png" alt="white-line.fw"></center></td>
                                            <td><center><img src="assets/images/partner_logos/paypal_logo.gif" alt="paypal logo"></center></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>