<div id="block-top-a" class="bg-white" ng-include="'views/home/block-top-a.tpl.html'"></div>
<!-- /#block-top-a -->

<div id="block-top-b" class="bg-color1 bg-colored" ng-include="'views/home/block-top-b.tpl.html'"></div>
<!-- /#block-top-b -->

<div id="block-main" class="bg-color1 bg-colored" ng-include="'views/home/block-main.tpl.html'"></div>
<!-- /#block-main -->

<div id="block-bottom-a" class="bg-color1 bg-colored" ng-include="'views/home/block-bottom-a.tpl.html'"></div>
<!-- /#block-bottom-a -->

<!--<div id="block-bottom-c" class="bg-color1 bg-colored" ng-include="'views/home/block-bottom-c.tpl.html'"></div>-->