.supernova {
  background-color: #ffffff;
}
.supernova body {
  background-color: transparent;
}

.jotform-form {
    padding: 10px 0;
}

.form-all {
  	padding-top: 0px !important;
    font-family: 'Verdana';
    font-size: 12px;
    background-color: #E4E4F1;
    box-shadow: 1px 1px 15px #444;
    -webkit-box-shadow: 1px 1px 15px #444;
    -moz-box-shadow: 1px 1px 15px #444;
    margin-top: 0 !important;
    border: 0;
    width: 100%;
    border-radius: 20px;
    background-image: url("//static-interlogyllc.netdna-ssl.com/themes/img/blank.gif");
    background-attachment: scroll;
    background-position: center top;
    background-repeat: repeat;    
    margin: 0px auto;
    color: #555555 !important;
    list-style: none;
    list-style-position: outside;
}
/* line 349, //www.jotform.com/themes/css/style.less */
.form-header-group {
  border-color: #e6e6e6;
}
/* line 354, //www.jotform.com/themes/css/style.less */
.form-matrix-table tr {
  border-color: #e6e6e6;
}
/* line 356, //www.jotform.com/themes/css/style.less */
.form-matrix-table tr:nth-child(2n) {
  background-color: #f2f2f2;
}
/* line 369, //www.jotform.com/themes/css/style.less */
.form-all {
  color: #555555;
}
/* line 374, //www.jotform.com/themes/css/style.less */
.form-header-group .form-header {
  color: #555555;
}
/* line 377, //www.jotform.com/themes/css/style.less */
.form-header-group .form-subHeader {
  color: #6f6f6f;
}
/* line 382, //www.jotform.com/themes/css/style.less */
.form-sub-label {
  color: #6f6f6f;
}
/* line 388, //www.jotform.com/themes/css/style.less */
.form-label-top,
.form-label-left,
.form-label-right {
  color: #555555;
}
/* line 395, //www.jotform.com/themes/css/style.less */
.form-checkbox-item label,
.form-radio-item label {
  color: #6f6f6f;
}
/* line 424, //www.jotform.com/themes/css/style.less */
.form-line.form-line-active {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  background-color: #ffffe0;
}
/* ömer */
/* line 432, //www.jotform.com/themes/css/style.less */
.form-radio-item,
.form-checkbox-item {
  padding-bottom: 0px !important;
}
/* line 434, //www.jotform.com/themes/css/style.less */
.form-radio-item:last-child,
.form-checkbox-item:last-child {
  padding-bottom: 0;
}
/* ömer */
/*.ctrl-custom-size(@bgSize, @tickSize, @tickOffsetTop, @tickOffsetLeft, @radius) {

	input {
		display: none;
	}
	
	label {
		position: relative;
		margin-left: 0;
	}

	label:before {
		content: '';
		position: relative;
		display: inline-block;
		vertical-align: baseline;
		margin-right: 4px;
		.border-box();
		.rounded(@radius);

		width: @bgSize;
		height: @bgSize;
	}

	label:after {
		content: '';
		position: absolute;
		z-index: 10;	
		display: inline-block;
		opacity: 0;

		top:@tickOffsetTop;
		left:@tickOffsetLeft;
		width: @tickSize;
		height: @tickSize;
		.rounded(@radius);
	}

	input:checked + label:after {
		opacity: 1;
	}

}*/
/* line 499, //www.jotform.com/themes/css/style.less */
[data-type="control_radio"] .form-input,
[data-type="control_checkbox"] .form-input,
[data-type="control_radio"] .form-input-wide,
[data-type="control_checkbox"] .form-input-wide {
  width: 100%;
  max-width: 317px;
}
/* line 507, //www.jotform.com/themes/css/style.less */
.form-radio-item,
.form-checkbox-item {
  width: 100%;
  max-width: 317px;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 516, //www.jotform.com/themes/css/style.less */
.form-textbox.form-radio-other-input,
.form-textbox.form-checkbox-other-input {
  width: 80%;
  margin-left: 3%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 536, //www.jotform.com/themes/css/style.less */
.form-multiple-column {
  width: 100%;
}
/* line 539, //www.jotform.com/themes/css/style.less */
.form-multiple-column .form-radio-item,
.form-multiple-column .form-checkbox-item {
  width: 10%;
}
/* line 527, //www.jotform.com/themes/css/style.less */
.form-multiple-column[data-columncount="1"] .form-radio-item,
.form-multiple-column[data-columncount="1"] .form-checkbox-item {
  width: 100%;
}
/* line 527, //www.jotform.com/themes/css/style.less */
.form-multiple-column[data-columncount="2"] .form-radio-item,
.form-multiple-column[data-columncount="2"] .form-checkbox-item {
  width: 50%;
}
/* line 527, //www.jotform.com/themes/css/style.less */
.form-multiple-column[data-columncount="3"] .form-radio-item,
.form-multiple-column[data-columncount="3"] .form-checkbox-item {
  width: 33.33333333%;
}
/* line 527, //www.jotform.com/themes/css/style.less */
.form-multiple-column[data-columncount="4"] .form-radio-item,
.form-multiple-column[data-columncount="4"] .form-checkbox-item {
  width: 25%;
}
/* line 527, //www.jotform.com/themes/css/style.less */
.form-multiple-column[data-columncount="5"] .form-radio-item,
.form-multiple-column[data-columncount="5"] .form-checkbox-item {
  width: 20%;
}
/* line 527, //www.jotform.com/themes/css/style.less */
.form-multiple-column[data-columncount="6"] .form-radio-item,
.form-multiple-column[data-columncount="6"] .form-checkbox-item {
  width: 16.66666667%;
}
/* line 527, //www.jotform.com/themes/css/style.less */
.form-multiple-column[data-columncount="7"] .form-radio-item,
.form-multiple-column[data-columncount="7"] .form-checkbox-item {
  width: 14.28571429%;
}
/* line 527, //www.jotform.com/themes/css/style.less */
.form-multiple-column[data-columncount="8"] .form-radio-item,
.form-multiple-column[data-columncount="8"] .form-checkbox-item {
  width: 12.5%;
}
/* line 527, //www.jotform.com/themes/css/style.less */
.form-multiple-column[data-columncount="9"] .form-radio-item,
.form-multiple-column[data-columncount="9"] .form-checkbox-item {
  width: 11.11111111%;
}
/* line 671, //www.jotform.com/themes/css/style.less */
.form-single-column .form-checkbox-item,
.form-single-column .form-radio-item {
  width: 100%;
}
/* line 677, //www.jotform.com/themes/css/style.less */
.form-checkbox-item,
.form-radio-item {
  padding-left: 2px;
}
/* line 685, //www.jotform.com/themes/css/style.less */
.form-checkbox-item input,
.form-radio-item input {
  margin-top: 2px;
}
/* line 1184, //www.jotform.com/themes/css/style.less */
.supernova {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-repeat: repeat;
}
/* | */
@media screen and (min-width: 480px) {
  /* line 1207, //www.jotform.com/themes/css/style.less */
  .supernova {
    background-image: url("//static-interlogyllc.netdna-ssl.com/themes/img/blank.gif");
  }
}
/* line 1214, //www.jotform.com/themes/css/style.less */
#stage {
  background-image: url("//static-interlogyllc.netdna-ssl.com/themes/img/blank.gif");
}
/* | */
/* line 1228, //www.jotform.com/themes/css/style.less */
.form-all {
  background-image: url("//static-interlogyllc.netdna-ssl.com/themes/img/blank.gif");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-repeat: repeat;
}
/* line 1257, //www.jotform.com/themes/css/style.less */
.form-header-group {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
}
/* line 1284, //www.jotform.com/themes/css/style.less */
.form-line {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 1302, //www.jotform.com/themes/css/style.less */
.form-line {
  padding: 2% 5%;
}
/* line 1395, //www.jotform.com/themes/css/style.less */
.form-all {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
/* line 1399, //www.jotform.com/themes/css/style.less */
.form-section:first-child {
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
}
/* line 1402, //www.jotform.com/themes/css/style.less */
.form-section:last-child {
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
}
/* line 1430, //www.jotform.com/themes/css/style.less */
.form-all .qq-upload-button,
.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
  width: 75px;
  font-size: 1.15em;
  padding: 12px 18px;
  font-family: "Verdana", sans-serif;
  font-size: 12px;
  font-weight: normal;
}
/* line 1488, //www.jotform.com/themes/css/style.less */
.form-all .form-submit-print {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
/* line 1569, //www.jotform.com/themes/css/style.less */
.form-all .form-pagebreak-back,
.form-all .form-pagebreak-next {
  font-size: 1em;
  padding: 9px 15px;
  font-family: "Verdana", sans-serif;
  font-size: 12px;
  font-weight: normal;
}
/*
	TODO: Significant improvement possibility:

	following import statement is not required in design mode,
	but it should be inside the exported css of current design, in the form itself
	when it is shown to people. Being of this here, causing re-drawn problems.
	we should find a way to only include this in css send while saving current design

	see prepareModel4Save for implementation for @buttonFontType
*/
/*
&amp; when ( @buttonFontType = google ) {
	@import (css) "@{buttonFontLink}";
}
*/
/* line 1706, //www.jotform.com/themes/css/style.less */
h2.form-header {
  line-height: 1.618em;
  font-size: 1.714em;
}
/* line 1713, //www.jotform.com/themes/css/style.less */
h2 ~ .form-subHeader {
  line-height: 1.5em;
  font-size: 1.071em;
}
/* line 1727, //www.jotform.com/themes/css/style.less */
.form-header-group {
  text-align: left;
}
/* line 1738, //www.jotform.com/themes/css/style.less */
.form-header-group {
  background-image: url("//static-interlogyllc.netdna-ssl.com/themes/img/blank.gif");
}
/* line 1755, //www.jotform.com/themes/css/style.less */
.form-sub-label-container {
  margin-right: 0;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 1761, //www.jotform.com/themes/css/style.less */
.form-captcha input,
.form-spinner input {
  width: 330px;
}
/* line 1767, //www.jotform.com/themes/css/style.less */
.form-textbox,
.form-textarea {
  width: 100%;
  max-width: 330px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 1774, //www.jotform.com/themes/css/style.less */
.form-input,
.form-address-table,
.form-matrix-table {
  width: 100%;
  max-width: 330px;
}
/* line 1782, //www.jotform.com/themes/css/style.less */
.form-radio-item,
.form-checkbox-item {
  width: 100%;
  max-width: 330px;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 1791, //www.jotform.com/themes/css/style.less */
.form-textbox.form-radio-other-input,
.form-textbox.form-checkbox-other-input {
  width: 80%;
  margin-left: 3%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 1811, //www.jotform.com/themes/css/style.less */
.form-multiple-column {
  width: 100%;
}
/* line 1814, //www.jotform.com/themes/css/style.less */
.form-multiple-column .form-radio-item,
.form-multiple-column .form-checkbox-item {
  width: 10%;
}
/* line 1802, //www.jotform.com/themes/css/style.less */
.form-multiple-column[data-columncount="1"] .form-radio-item,
.form-multiple-column[data-columncount="1"] .form-checkbox-item {
  width: 100%;
}
/* line 1802, //www.jotform.com/themes/css/style.less */
.form-multiple-column[data-columncount="2"] .form-radio-item,
.form-multiple-column[data-columncount="2"] .form-checkbox-item {
  width: 50%;
}
/* line 1802, //www.jotform.com/themes/css/style.less */
.form-multiple-column[data-columncount="3"] .form-radio-item,
.form-multiple-column[data-columncount="3"] .form-checkbox-item {
  width: 33.33333333%;
}
/* line 1802, //www.jotform.com/themes/css/style.less */
.form-multiple-column[data-columncount="4"] .form-radio-item,
.form-multiple-column[data-columncount="4"] .form-checkbox-item {
  width: 25%;
}
/* line 1802, //www.jotform.com/themes/css/style.less */
.form-multiple-column[data-columncount="5"] .form-radio-item,
.form-multiple-column[data-columncount="5"] .form-checkbox-item {
  width: 20%;
}
/* line 1802, //www.jotform.com/themes/css/style.less */
.form-multiple-column[data-columncount="6"] .form-radio-item,
.form-multiple-column[data-columncount="6"] .form-checkbox-item {
  width: 16.66666667%;
}
/* line 1802, //www.jotform.com/themes/css/style.less */
.form-multiple-column[data-columncount="7"] .form-radio-item,
.form-multiple-column[data-columncount="7"] .form-checkbox-item {
  width: 14.28571429%;
}
/* line 1802, //www.jotform.com/themes/css/style.less */
.form-multiple-column[data-columncount="8"] .form-radio-item,
.form-multiple-column[data-columncount="8"] .form-checkbox-item {
  width: 12.5%;
}
/* line 1802, //www.jotform.com/themes/css/style.less */
.form-multiple-column[data-columncount="9"] .form-radio-item,
.form-multiple-column[data-columncount="9"] .form-checkbox-item {
  width: 11.11111111%;
}
/* line 1824, //www.jotform.com/themes/css/style.less */
[data-type="control_dropdown"] .form-dropdown {
  /*width: 100% !important;
		max-width: unit(@inputWidth, px);*/
  width: 330px !important;
  max-width: 100%;
}
/* line 1832, //www.jotform.com/themes/css/style.less */
[data-type="control_fullname"] .form-sub-label-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 48%;
}
/* line 1836, //www.jotform.com/themes/css/style.less */
[data-type="control_fullname"] .form-sub-label-container:first-child {
  margin-right: 4%;
}
/* line 1841, //www.jotform.com/themes/css/style.less */
[data-type="control_phone"] .form-sub-label-container {
  width: 65%;
}
/* line 1844, //www.jotform.com/themes/css/style.less */
[data-type="control_phone"] .form-sub-label-container:first-child {
  width: 32.5%;
  margin-right: 2.5%;
}
/* line 1851, //www.jotform.com/themes/css/style.less */
[data-type="control_birthdate"] .form-sub-label-container {
  width: 22%;
  margin-right: 3%;
}
/* line 1854, //www.jotform.com/themes/css/style.less */
[data-type="control_birthdate"] .form-sub-label-container:first-child {
  width: 50%;
}
/* line 1857, //www.jotform.com/themes/css/style.less */
[data-type="control_birthdate"] .form-sub-label-container:last-child {
  margin-right: 0;
}
/* line 1861, //www.jotform.com/themes/css/style.less */
[data-type="control_birthdate"] .form-sub-label-container .form-dropdown {
  width: 100%;
}
/* line 1867, //www.jotform.com/themes/css/style.less */
[data-type="control_time"] .form-sub-label-container {
  width: 37%;
  margin-right: 3%;
}
/* line 1871, //www.jotform.com/themes/css/style.less */
[data-type="control_time"] .form-sub-label-container:last-child {
  width: 20%;
  margin-right: 0;
}
/* line 1876, //www.jotform.com/themes/css/style.less */
[data-type="control_time"] .form-sub-label-container .form-dropdown {
  width: 100%;
}
/* line 1883, //www.jotform.com/themes/css/style.less */
[data-type="control_datetime"] .form-sub-label-container {
  width: 12%;
  margin-right: 3%;
}
/* line 1887, //www.jotform.com/themes/css/style.less */
[data-type="control_datetime"] .form-sub-label-container:last-child {
  width: 3%;
  margin-right: 0;
}
/* line 1895, //www.jotform.com/themes/css/style.less */
[data-type="control_datetime"] span .form-sub-label-container:first-child {
  width: 4%;
}
/* line 1898, //www.jotform.com/themes/css/style.less */
[data-type="control_datetime"] span .form-sub-label-container:last-child {
  width: 12%;
  margin-right: 3%;
}
/* line 1904, //www.jotform.com/themes/css/style.less */
[data-type="control_datetime"] .form-dropdown {
  width: 100%;
}
/* line 1911, //www.jotform.com/themes/css/style.less */
[data-type="control_payment"] .form-sub-label-container {
  width: auto;
}
/* line 1914, //www.jotform.com/themes/css/style.less */
[data-type="control_payment"] .form-sub-label-container .form-dropdown {
  width: 100%;
}
/* line 1922, //www.jotform.com/themes/css/style.less */
.form-address-table td .form-dropdown {
  width: 100%;
}
/* line 1926, //www.jotform.com/themes/css/style.less */
.form-address-table td .form-sub-label-container {
  width: 96%;
}
/* line 1930, //www.jotform.com/themes/css/style.less */
.form-address-table td:last-child .form-sub-label-container {
  margin-left: 4%;
}
/* line 1934, //www.jotform.com/themes/css/style.less */
.form-address-table td[colspan="2"] .form-sub-label-container {
  width: 100%;
  margin: 0;
}
/* line 1942, //www.jotform.com/themes/css/style.less */
.form-line,
.form-input,
.form-input-wide,
.form-dropdown,
.form-sub-label-container,
.form-address-table,
.form-matrix-table {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: none;
}
/* line 1955, //www.jotform.com/themes/css/style.less */
.form-textbox,
.form-textarea,
.form-radio-item,
.form-checkbox-item,
.form-captcha input,
.form-spinner input,
.form-error-message {
  width: 100%;
  max-width: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*.form-dropdown,
.form-radio-item,
.form-checkbox-item,
.form-radio-other-input,
.form-checkbox-other-input,*/
/* line 2022, //www.jotform.com/themes/css/style.less */
.form-captcha input,
.form-spinner input,
.form-error-message {
  padding: 4px 3px 2px 3px;
}
/* line 2037, //www.jotform.com/themes/css/style.less */
.form-header-group {
  font-family: "Verdana", sans-serif;
}
/* line 2058, //www.jotform.com/themes/css/style.less */
.form-section {
  padding: 0px 0px 0px 0px;
}
/* line 2069, //www.jotform.com/themes/css/style.less */
.form-header-group {
  margin: 12px 36px 12px 36px;
}
/* line 2080, //www.jotform.com/themes/css/style.less */
.form-header-group {
  padding: 24px 0px 24px 0px;
}
/* line 2123, //www.jotform.com/themes/css/style.less */
.form-textbox,
.form-textarea {
  padding: 4px 3px 2px 3px;
}
/* line 2177, //www.jotform.com/themes/css/style.less */
.form-textbox,
.form-textarea {
  width: 100%;
  max-width: 150px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 2193, //www.jotform.com/themes/css/style.less */
[data-type="control_textbox"] .form-input,
[data-type="control_textarea"] .form-input,
[data-type="control_fullname"] .form-input,
[data-type="control_phone"] .form-input,
[data-type="control_datetime"] .form-input,
[data-type="control_address"] .form-input,
[data-type="control_email"] .form-input,
[data-type="control_passwordbox"] .form-input,
[data-type="control_autocomp"] .form-input,
[data-type="control_textbox"] .form-input-wide,
[data-type="control_textarea"] .form-input-wide,
[data-type="control_fullname"] .form-input-wide,
[data-type="control_phone"] .form-input-wide,
[data-type="control_datetime"] .form-input-wide,
[data-type="control_address"] .form-input-wide,
[data-type="control_email"] .form-input-wide,
[data-type="control_passwordbox"] .form-input-wide,
[data-type="control_autocomp"] .form-input-wide {
  width: 100%;
}
/* line 2201, //www.jotform.com/themes/css/style.less */
[data-type="control_fullname"] .form-sub-label-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 48%;
}
/* line 2205, //www.jotform.com/themes/css/style.less */
[data-type="control_fullname"] .form-sub-label-container:first-child {
  margin-right: 4%;
}
/* line 2210, //www.jotform.com/themes/css/style.less */
[data-type="control_phone"] .form-sub-label-container {
  width: 65%;
}
/* line 2213, //www.jotform.com/themes/css/style.less */
[data-type="control_phone"] .form-sub-label-container:first-child {
  width: 32.5%;
  margin-right: 2.5%;
}
/* line 2220, //www.jotform.com/themes/css/style.less */
[data-type="control_datetime"] .form-sub-label-container {
  width: 12%;
  margin-right: 3%;
}
/* line 2224, //www.jotform.com/themes/css/style.less */
[data-type="control_datetime"] .form-sub-label-container:last-child {
  width: 3%;
  margin-right: 0;
}
/* line 2232, //www.jotform.com/themes/css/style.less */
[data-type="control_datetime"] span .form-sub-label-container:first-child {
  width: 4%;
}
/* line 2235, //www.jotform.com/themes/css/style.less */
[data-type="control_datetime"] span .form-sub-label-container:last-child {
  width: 12%;
  margin-right: 3%;
}
/* line 2241, //www.jotform.com/themes/css/style.less */
[data-type="control_datetime"] .form-dropdown {
  width: 100%;
}
/* line 2247, //www.jotform.com/themes/css/style.less */
.form-matrix-table {
  width: 100%;
  max-width: 150px;
}
/* line 2253, //www.jotform.com/themes/css/style.less */
.form-address-table {
  width: 100%;
  max-width: 150px;
}
/* line 2257, //www.jotform.com/themes/css/style.less */
.form-address-table td .form-dropdown {
  width: 100%;
}
/* line 2261, //www.jotform.com/themes/css/style.less */
.form-address-table td .form-sub-label-container {
  width: 96%;
}
/* line 2265, //www.jotform.com/themes/css/style.less */
.form-address-table td:last-child .form-sub-label-container {
  margin-left: 4%;
}
/* line 2269, //www.jotform.com/themes/css/style.less */
.form-address-table td[colspan="2"] .form-sub-label-container {
  width: 100%;
  margin: 0;
}
/*@textInputStyle: "ti-default";
@textInputBorderWidth: -1;
@textInputBorderStyle: -1;
@clrTextInputBorder: -1;
@clrTextInputBg: -1;
@clrTextInputFont: -1;
@textInputHeight: -1;
@textAreaHeight: -1;

&amp; when ( @formControlStyle = ti-default ) {

}*/
/* line 2348, //www.jotform.com/themes/css/style.less */
[data-type="control_dropdown"] .form-input,
[data-type="control_birthdate"] .form-input,
[data-type="control_time"] .form-input,
[data-type="control_dropdown"] .form-input-wide,
[data-type="control_birthdate"] .form-input-wide,
[data-type="control_time"] .form-input-wide {
  width: 100%;
  max-width: 330px;
}
/* line 2356, //www.jotform.com/themes/css/style.less */
[data-type="control_dropdown"] .form-dropdown {
  /*width: 100% !important;
		max-width: unit(@dropdownWidth, px);*/
  width: 330px !important;
  max-width: 100%;
}
/* line 2364, //www.jotform.com/themes/css/style.less */
[data-type="control_birthdate"] .form-sub-label-container {
  width: 22%;
  margin-right: 3%;
}
/* line 2367, //www.jotform.com/themes/css/style.less */
[data-type="control_birthdate"] .form-sub-label-container:first-child {
  width: 50%;
}
/* line 2370, //www.jotform.com/themes/css/style.less */
[data-type="control_birthdate"] .form-sub-label-container:last-child {
  margin-right: 0;
}
/* line 2374, //www.jotform.com/themes/css/style.less */
[data-type="control_birthdate"] .form-sub-label-container .form-dropdown {
  width: 100%;
}
/* line 2380, //www.jotform.com/themes/css/style.less */
[data-type="control_time"] .form-sub-label-container {
  width: 37%;
  margin-right: 3%;
}
/* line 2384, //www.jotform.com/themes/css/style.less */
[data-type="control_time"] .form-sub-label-container:last-child {
  width: 20%;
  margin-right: 0;
}
/* line 2389, //www.jotform.com/themes/css/style.less */
[data-type="control_time"] .form-sub-label-container .form-dropdown {
  width: 100%;
}
/* line 2604, //www.jotform.com/themes/css/style.less */
.form-buttons-wrapper {
  margin-left: 0 !important;
  text-align: center !important;
}
/* line 2704, //www.jotform.com/themes/css/style.less */
.form-label {
  font-family: "Verdana", sans-serif;
}
/* line 2724, //www.jotform.com/themes/css/style.less */
li[data-type="control_image"] div {
  text-align: left;
}
/* line 2728, //www.jotform.com/themes/css/style.less */
li[data-type="control_image"] img {
  border: none;
  border-width: 0px !important;
  border-style: solid !important;
  border-color: false !important;
}
/* line 2770, //www.jotform.com/themes/css/style.less */
.form-line-column {
  width: auto;
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 2786, //www.jotform.com/themes/css/style.less */
.form-line-column.form-col-1 {
  padding-left: 20px;
  padding-right: 10px;
}
/* line 2791, //www.jotform.com/themes/css/style.less */
.form-line-column.form-col-0 {
  padding-left: 10px;
  padding-right: 20px;
}
/* line 2786, //www.jotform.com/themes/css/style.less */
.form-line-column.form-col-3 {
  padding-left: 20px;
  padding-right: 10px;
}
/* line 2791, //www.jotform.com/themes/css/style.less */
.form-line-column.form-col-2 {
  padding-left: 10px;
  padding-right: 20px;
}
/* line 2786, //www.jotform.com/themes/css/style.less */
.form-line-column.form-col-5 {
  padding-left: 20px;
  padding-right: 10px;
}
/* line 2791, //www.jotform.com/themes/css/style.less */
.form-line-column.form-col-4 {
  padding-left: 10px;
  padding-right: 20px;
}
/* line 2786, //www.jotform.com/themes/css/style.less */
.form-line-column.form-col-7 {
  padding-left: 20px;
  padding-right: 10px;
}
/* line 2791, //www.jotform.com/themes/css/style.less */
.form-line-column.form-col-6 {
  padding-left: 10px;
  padding-right: 20px;
}
/* line 2786, //www.jotform.com/themes/css/style.less */
.form-line-column.form-col-9 {
  padding-left: 20px;
  padding-right: 10px;
}
/* line 2791, //www.jotform.com/themes/css/style.less */
.form-line-column.form-col-8 {
  padding-left: 10px;
  padding-right: 20px;
}
/* line 2786, //www.jotform.com/themes/css/style.less */
.form-line-column.form-col-11 {
  padding-left: 20px;
  padding-right: 10px;
}
/* line 2791, //www.jotform.com/themes/css/style.less */
.form-line-column.form-col-10 {
  padding-left: 10px;
  padding-right: 20px;
}
/* line 2786, //www.jotform.com/themes/css/style.less */
.form-line-column.form-col-13 {
  padding-left: 20px;
  padding-right: 10px;
}
/* line 2791, //www.jotform.com/themes/css/style.less */
.form-line-column.form-col-12 {
  padding-left: 10px;
  padding-right: 20px;
}
/* line 2786, //www.jotform.com/themes/css/style.less */
.form-line-column.form-col-15 {
  padding-left: 20px;
  padding-right: 10px;
}
/* line 2791, //www.jotform.com/themes/css/style.less */
.form-line-column.form-col-14 {
  padding-left: 10px;
  padding-right: 20px;
}
/* line 2786, //www.jotform.com/themes/css/style.less */
.form-line-column.form-col-17 {
  padding-left: 20px;
  padding-right: 10px;
}
/* line 2791, //www.jotform.com/themes/css/style.less */
.form-line-column.form-col-16 {
  padding-left: 10px;
  padding-right: 20px;
}
/* line 2786, //www.jotform.com/themes/css/style.less */
.form-line-column.form-col-19 {
  padding-left: 20px;
  padding-right: 10px;
}
/* line 2791, //www.jotform.com/themes/css/style.less */
.form-line-column.form-col-18 {
  padding-left: 10px;
  padding-right: 20px;
}
/* line 2786, //www.jotform.com/themes/css/style.less */
.form-line-column.form-col-21 {
  padding-left: 20px;
  padding-right: 10px;
}
/* line 2791, //www.jotform.com/themes/css/style.less */
.form-line-column.form-col-20 {
  padding-left: 10px;
  padding-right: 20px;
}
/* line 2815, //www.jotform.com/themes/css/style.less */
.form-line-error {
  overflow: hidden;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -ms-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  background-color: #fff4f4;
}
/* line 2820, //www.jotform.com/themes/css/style.less */
.form-line-error .form-error-message {
  background-color: #ff3200;
  width: 150px;
  clear: both;
  float: none;
}
/* line 2825, //www.jotform.com/themes/css/style.less */
.form-line-error .form-error-message .form-error-arrow {
  border-bottom-color: #ff3200;
}
/* line 2830, //www.jotform.com/themes/css/style.less */
.form-line-error input:not(#coupon-input),
.form-line-error textarea,
.form-line-error .form-validation-error {
  border: 1px solid #ff3200;
  -webkit-box-shadow: 0 0 3px #ff3200;
  -moz-box-shadow: 0 0 3px #ff3200;
  box-shadow: 0 0 3px #ff3200;
}
/* | */
@media screen and (max-width: 768px) {
  /* line 3096, //www.jotform.com/themes/css/style.less */
  .form-all {
    border: 0;
    width: 100%;
  }
  /* line 3097, //www.jotform.com/themes/css/style.less */
  .form-sub-label-container {
    width: 100%;
    margin: 0;
  }
  /* line 3098, //www.jotform.com/themes/css/style.less */
  .form-input {
    width: 100%;
  }
  /* line 3099, //www.jotform.com/themes/css/style.less */
  .form-label {
    width: 100%!important;
  }
  /* line 3100, //www.jotform.com/themes/css/style.less */
  .form-line {
    padding: 2% 5%;
    margin: 0;
  }
  /* line 3101, //www.jotform.com/themes/css/style.less */
  input[type=text],
  input[type=email],
  input[type=tel],
  textarea {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 3102, //www.jotform.com/themes/css/style.less */
  .form-header-group {
    padding: 3% 0!important;
    margin: 5%!important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 3103, //www.jotform.com/themes/css/style.less */
  .form-buttons-wrapper {
    margin: 0!important;
  }
  /* line 3104, //www.jotform.com/themes/css/style.less */
  .form-buttons-wrapper button {
    width: 100%;
  }
  /* line 3106, //www.jotform.com/themes/css/style.less */
  table {
    width: 100%!important;
  }
  /* line 3107, //www.jotform.com/themes/css/style.less */
  table td + td {
    padding-left: 3%;
  }
  /* line 3110, //www.jotform.com/themes/css/style.less */
  .form-checkbox-item input,
  .form-radio-item input {
    width: auto;
  }
}
/* | */

/*__INSPECT_SEPERATOR__*/
/*--red border on error--*/
.form-validation-error {
    border : 1px solid #FFB0B0 !important;
}

/*--form header style--*/
#text_1 > div {
    margin-top : 8px;
    background : url('//cms.interlogy.com/uploads/image_upload/image_upload/global/6939_header_background.gif') repeat-x;
    width : 100%;
    height : 115px;
    font-size : 30px;
    font-weight : bolder;
    text-align : center;
    padding-top : 25px;
    color : white !important;
    text-shadow : 1px 3px #020202;
    border-top-right-radius : 3px;
    border-top-left-radius : 3px;
}

/*--textbox textarea style--*/
.form-textbox, .form-textarea {
    padding : 3px;
    -webkit-border-radius : 3px;
    -moz-border-radius : 3px;
    border-radius : 3px;
    border : 1px solid #CCC;
    -webkit-transition : .3s ease-in-out;
    -moz-transition : .3s ease-in-out;
    color : #424242;
    font-family : "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size : 12px;
    -moz-box-shadow : 0 1px 2px rgba(0, 0, 0, .15) inset;
    -webkit-box-shadow : 0 1px 2px rgba(0, 0, 0, .15) inset;
    width : 100% !important;
    max-width : 100% !important;
}

/*--textbox focus--*/
.form-textbox:focus, .form-textarea:focus {
    outline : 0;
    border-color : rgba(82, 168, 236, 0.8);
    -webkit-box-shadow : inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow : inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow : inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);
}

/*--remove form header and footer padding--*/
#id_1, #id_8, #id_9, .form-html {
    padding : 0px !important;
    width : 100% !important;
}

/*--form background shadows--*/
.form-all {
    padding-top : 0px !important;
    font-family : 'Verdana';
    font-size : 12px;
    background-color : #E4E4F1;
    box-shadow : 1px 1px 15px #444;
    -webkit-box-shadow : 1px 1px 15px #444;
    -moz-box-shadow : 1px 1px 15px #444;
    margin-top : 0 !important;
}

/*--remove error message--*/
.form-error-message {
    display : none !important;
}

.form-line-error {
    background : none repeat scroll 0 0;
}

/*--form footer style--*/
#text_8 > div {
    background : url('//cms.interlogy.com/uploads/image_upload/image_upload/global/6937_footer.png') repeat-x;
    width : 100%;
    height : 40px;
}

#text_9 > div {
    background : url('//cms.interlogy.com/uploads/image_upload/image_upload/global/6938_footer-wrap.png');
    width : 100%;
    height : 70px;
    margin-bottom : -2px;
    border-bottom-left-radius : 3px;
    border-bottom-right-radius : 3px;
}

/*--footer and footerwrap connect--*/
#id_9 {
    margin-top : -2px !important;
}

/*--submit button position--*/
#id_2 {
    position : relative;
    top : 55px;
    left : 10px;
    z-index : 111;
    padding : 0px;
    height : 10px;
}

/*--submit button error message position--*/
.form-button-error {
    display : block;
    position : absolute;
    top : 25px;
    left : 106px;
    color : #FF7C7C;
}

/*--add red border on error--*/
.form-validation-error {
    border : 1px solid red !important;
}


/* Injected CSS Code */